{% extends 'core/base.html'%} 
{% load static %} 
{% block titulo %}administrador|plataformas{% endblock %} 
{% block content %} 
<!-- banner -->
<div class="sub-banner">
</div>
<!-- banner -->
<a href="/administrador/plataformas/create/" class="blog-read" >Crear Nuevo</a>
<div class="events-w3layouts">
    {% for plataforma in object_list %}
    <div class="events-section2-agileinfo">
    <div class="container">
        <div class="blog1-w3ls">
            <div class="col-md-4 blog-image-w3l">
                <a href="single.html"><img src="{{plataforma.Foto.url}}" alt=" " /></a>
            </div>
            <div class="col-md-8 blog-text-w3ls">
                <a href="single.html"><h4>{{plataforma.nombre}}</h4></a>
                <div class="item_info">
                        <ul>
                            <li><i class="glyphicon glyphicon-user"></i>{{plataforma.descripcion}}</a></li>
                        </ul>				
                 </div>
              
                 <a href="/administrador/plataformas/actualizar/{{plataforma.id}}" class="blog-read" >Actualizar</a>
                 <a href="/administrador/plataformas/eliminar/{{plataforma.id}}" class="blog-read" >Eliminar</a>
            </div>
            <div class="clearfix"></div>
        </div> 
        {% endfor %}
    </div>
    </div>


{% endblock %}
